@import "util", "ress";

body {
    // background: #000000;
    // color: #ffffff;
    font-family: menlo, arial, 'Osaka', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
}

.main-contents {
    max-width: 80vw;
    margin: 0 auto;
}

