a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    @extend .flex;
    flex-direction: column;
}

.flex-row {
    @extend .flex;
    flex-direction: row;
}

.flex-left {
    @extend .flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-right {
    @extend .flex;
    flex-direction: row;
    justify-content: flex-end;
}

.y-center {
    @extend .flex;
    align-items: center;
}

.x-center {
    @extend .flex;
    justify-content: center;
}

.y-dir-1em-margin {
    margin-top: 1em;
    margin-bottom: 1em;
}

.padding-1em {
    padding: 1em;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}
